#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MilleFeuilles 6.1
Exec=/usr/share/bin/millefeuilles 6.1
Icon=mf61.png
Categories=Education
Keywords="lp21 sprachen französisch z2 hören lesen"
